/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/backup/beDev-Billing-Management-System
storage/backup/2018-09-26-17-14-17.zip
storage/backup/db-dumps/mysql-bebms.sql.gz
public/.htaccess
